/*tambahan dropdown mobile*/
.navbar-default .navbar-toggle {
    border-color: #575c63;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
default .navbar-toggle:hover {
     background-color: #575c63;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: #575c63;
  }
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
/*akhir dropdown mobile*/
li
{
	list-style:none;
	padding: 10px 10px 10px 10px;
}
.container-fluid{
	background-color: #565C63;
}
.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-brand {
	color: white;
}
.list-group-item {
	position: inherit;
	border: none;
	border-color: white;
	font-family: 'Roboto', sans-serif;
}
a.list-group-item, button.list-group-item {
	margin-left: 15px;

	/*background-color: #454A54;*/
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #4AB9DC;
  border-color: ##4AB9DC;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.active
{
	font-style: bold;
	font-weight : bolder;
	pointer-events : none;
}
.list-group-item:first-child {
     border-top-left-radius: 0px;
     border-top-right-radius: 0px;
}
label{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: lighter;
}
.card{
		background-color: white;
		padding: 20px;
		margin:20px;
		box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.input-group{
	padding-bottom: 10px;
	padding-top: 10px;
}
/*halaman login*/
.kartu{
	position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.logo a {
    font-size: 36px;
    display: block;
    width: 100%;
    text-align: center;
		text-decoration: none;
    color: #fff;
		margin-bottom: 30px;
		margin-top: 40px;
}
small{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: -70px;
}
/*akhir halaman login*/
#kartu .btn {
	margin-left: -6px;
}
/*panel*/
.panel-default {
    margin: 20px;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #565c63;
		border-bottom: 0px ;
 		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
}
.panel{
	border-radius: 0px;
	border: 0px;
}
.col-md-1{
     width: inherit;
    margin-top: 25px;
}
/*MODAL*/
.modal{
	background: rgba(0, 0, 0, 0.4);
}

/*javascript table*/
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
		font-weight: lighter;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
		color: #fff !important;
		border-radius: 10px;
		background-color: #FC6E51;
}
/*th{
	background-color: #565c63;
	color: white;
	font-family:sans-serif;
}*/
#menu-utama{
    background-color: #d8e4e8;
    border: 1px solid #d8e4e8;
}
#home
{
	margin-left : 0;
	padding-left : 0px;
}

#ungu
{
	background-color :#ffffff;
	width : 120%;
	height : 100px;
	margin-right: 0px;
}


#kiri
{
	min-height:900px;
	background-color:#d8e4e8;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
	float:left;
}
#kanan
{
	height:900px;
	background-color:#eff5f7;
	float:right;
}
/*tampilan tabel*/
.rtable{
  padding: 10px;
}
